h1 {
    text-align: center;
    color: rgb(35, 33, 47);
}

.topnav {
    color: rgb(83, 83, 161);
    text-align: center;
    padding: 25px 50px;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.displayImage {
    max-width: 75%;
    height: auto;
    border-radius: 75%;
}

#mealPic {
    width: 15%;
    height: 15%;
}

#footer {
    text-align: center;
}

#darkMode {
    cursor: pointer;
}

#lightMode {
    cursor: pointer;
}

#firstChance, #secondChance, #thirdChance, #fourthChance, #fifthChance {
    width: 250px;
    height: 150px;
    display: inline-table;
    border: 2px solid black;
}

#mealOTD {
    text-align: center;
}